<style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 200px;
      background-color: #f1f1f1;
    }
    
    li a {
      display: block;
      color: #000;
      padding: 8px 16px;
      text-decoration: none;
    }
    
    li a:hover {
      background-color: #555;
      color: white;
    }
    .text {
      text-align: center;
      margin-left: 300px;
      margin-right: 300px
    }
    h1 {text-align: center;}
    </style>
    <p> <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/work">Work</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul> </p>
    <h1>About Me</h1>
    <div class='text'<p>
    My name is Michael Harris and I am studying Computer Science at the University of Memphis. I am a currently getting my second bachelor's
    degree after acquiring my first at Mississippi State University in Biomedical Engineering. I am a Black Belt in Judo and love playing video games
    and board games with my friends!
    </p></div>